

<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">
    <center><strong><h3>Edit Profile Info</h3></strong></center>
    </div>
    <div class="panel-body">
    	<%= render 'form' %>

    	<hr />
    	<center>
 

</center>
    </div>
    </div>
    </div>






