<div class="container">
<div class="panel panel-danger">
<div class="panel-heading">
<center>
<h3> New Photo</h3>
</center>
</div>
<center>
<%= render 'form' %>
</center>
</div>
</div>





<%= link_to 'Back',  meetup_photos_path  %>
